
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }
.container{
    width: 500px;
    height: 500px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-left: 20px;
}
.sub-cont{
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
    margin-top: 20px;
    transition: all ease 1s;
}
.sub-cont:hover{
    background-color: transparent;
    border-radius: 2rem;
    border: 1px dashed white;
}